# Ignore logs directory
logs/

# Ignore __pycache__ directories and compiled Python files
__pycache__/
*.pyc

# Ignore artifacts directory
artifacts/

# Ignore textSummarizer egg-info
textSummarizer.egg-info/

# Ignore specific files
logs/running_logs.log
src/textSummarizer/__pycache__/__init__.cpython-310.pyc
